<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      	<li><a href="{{ root_url }}/">Resume</a></li>
        <li><a href="{{ root_url }}/overview">Overview</a></li>
        <li><a href="{{ root_url }}/knowledge">Knowledge</a></li>
        <li><a href="{{ root_url }}/skills">Skills</a></li>
        <li><a href="{{ root_url }}/employment">Employment</a></li>
        <li><a href="{{ root_url }}/education">Education</a></li>
      </ul>
    </div>
  </div>
</nav>
